{% extends 'layout.html.twig' %}

{% page_setup {
    'title': 'breadcrumb.items.dashboard.title'|trans({}, 'messages'),
    'header': 'breadcrumb.items.dashboard.title'|trans({}, 'messages'),
    'breadcrumbs': [
        {
            'name': 'breadcrumb.items.dashboard.name'|trans({}, 'messages'),
            'main': true
        }
    ]
} %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1>{{ home.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
