{% for flash_message in app.session.flashbag.get('app_error') %}
    <div class="alert alert-danger bg-danger text-white border-0" role="alert">
        <strong>Error: </strong> {{ flash_message|raw }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('app_success') %}
    <div class="alert alert-success bg-success text-white border-0" role="alert">
        {{ flash_message|raw }}
    </div>
{% endfor %}
